.contactButton {
  background: linear-gradient(
    -45deg,
    #818319,
    #f05006,
    #aa822c,
    #f05006,
    #7873f5,
    #f05006
  );
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  cursor: pointer;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
